

<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Warrengruppen Match</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <!-- left Tree -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> Mioga Shop </h3>
            </div>
            <!-- /.card-header -->

            <!-- Inject Mioga Tree -->

            <div *ngIf="loader">

              <app-tree
                [categoriesList]="IncomingWarrengruppenList[0].categories"
                [treeName]="IncomingWarrengruppenList[0].name"

              (treeSelected)="getEventLeftTree($event)">

              </app-tree>
            </div>


          </div>
        </div>

        <!-------------------------------------------------------------------------------------- -->

        <!-- right Tree -->
        <div class="col-md-6">
          <!-- Form Element sizes -->
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title"> Group To Match</h3>
            </div>

            <div *ngIf="loader">

            <app-tree
              [categoriesList]="IncomingWarrengruppenList[1].categories"
              [treeName]="IncomingWarrengruppenList[1].name"
              (treeSelected)="getEventRightTree($event)"></app-tree>

            </div>

          </div>
        </div>

        <!--/.col (right) -->
      </div>
      <!-- /.row -->


      <button class="btn btn-success" (click)="match()"> Match </button>


    </div>
  </section>
  <!-- /.content -->

</div>
