<div class="tree-demo-container">

  <h2> {{warengruppe.name}} 🌳 </h2>

  <div  style="margin-bottom: 10px">
    <button class="btn btn-primary" (click)="filterCategories()"> Filter</button>
    <button class="btn btn-danger" style="margin-left: 5px" (click)="onUnselectALl()">
      Unselect All
    </button>
    <button class="btn btn-outline-secondary"  (click)="tree.treeControl.collapseAll()"  style="margin-left: 5px">Collapse All</button>
    <button class="btn btn-outline-success" (click)="tree.treeControl.expandAll()" style="margin-left: 5px"> Expand All</button>
  </div>

  <app-autocomplete-auto-active [categoryList]="categoriesList" (selectedName)="updatedSearchWord($event)"></app-autocomplete-auto-active>

  <div class="card-body table-responsive p-0" style="height: 600px;">

    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)] ="searchString">
    </mat-form-field>

    <mat-tree #tree class="mat-elevation-z4 table table-head-fixed text-nowrap" [dataSource]="flatDataSource"
              [treeControl]="flatTreeControl">


      <!-- Not Expandable Node -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                     [style.display]="filterLeafNode(node) ? 'none' : 'block'">

        <!-- Others Not Expandable Node -->

        <mat-checkbox class="checklist-leaf-node"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="todoLeafItemSelectionToggle(node)"

        >{{node.name}} {{node.connectionId}}</mat-checkbox>


      </mat-tree-node>


      <!-- Expandable Node -->

      <mat-tree-node *matTreeNodeDef="let node; when: hasFlatChild" matTreeNodePadding
                     [style.display]="filterParentNode(node) ? 'none' : 'block'">

        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{flatTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        <!-- Others Expandebale Node -->

        <mat-checkbox
          [checked]="descendantsAllSelected(node) "
          [indeterminate]="descendantsPartiallySelected(node)"
          (change)="todoItemSelectionToggle(node)"> {{node.name}} {{node.connectionId}}
        </mat-checkbox>

        <mat-checkbox style="margin-left: 5px;" class="checklist-leaf-node"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="todoLeafItemSelectionToggle(node)">
        </mat-checkbox>


      </mat-tree-node>

    </mat-tree>
  </div>
</div>
