<aside>
  <span style="margin-left: auto; margin-right: auto">
  <a class="brand-link logo-switch"> Mioga Backend App  </a>
  </span>

  <!-- Sidebar -->
  <div class="sidebar">

    <div class="form-inline mt-2">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/warrengruppe" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Alle Warrengruppen</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/match" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p> Match Warrengruppen </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/zulieferer" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p> Lieferanten </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/contact" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p> Contacts </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/clear-database" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Clear DataBase (DEV)</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
