<div class="content-wrapper" style="margin-top: 2rem">
  <section class="content">
    <div class="container-fluid">


        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Add New WarrenGruppe</h3>
              </div>



              <form #postLieferantForm="ngForm">
                <div class="card-body">


                  <div class="form-group">

                    <label>WarenGruppe Name</label>
                    <input type="text" name="warrengruppeName" class="form-control" id="warrengruppeName" placeholder="WarenGruppe Name" required ngModel>

                  </div>

                  <div class="form-group">


                    <select class="form-control" name="connectionId" [(ngModel)]="selectedId">
                      <option value="{{zulieferer.connectionId}}" *ngFor="let zulieferer of zulieferList">{{zulieferer.title}}</option>
                    </select>


<!--                      <select class="form-control" ngModel = {{zulieferer.id}}>-->
<!--                        <option  name="connectionId" *ngFor="let zuliefer of zulieferList"> {{zuliefer.title}} </option>-->
<!--                      </select>-->


                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" (click)="postLieferant(postLieferantForm)">Submit</button>
                </div>
              </form>




            </div>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Select one Category</h3>

                      <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control float-right"
                                 placeholder="Search">

                          <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                          <th>ID</th>
                          <th> Baum Für</th>
                          <th>Zulieferer connection Id</th>
                          <th>See Tree</th>
                          <th>Import</th>
                          <th>Delete</th>
                          <th>edit</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let warrengruppe of warrengruppen">

                        <tr>
                          <td> {{warrengruppe.id}}</td>
                          <td>{{ warrengruppe.name}}</td>
                          <td>
                            {{warrengruppe.zuliefererId}}
                          </td>
                          <td>
                              <button [routerLink]="['/single-tree' , warrengruppe.id]" mat-raised-button color="primary">Baum</button>
                          </td>
                          <td>
                            <form action="/import" method="post">
                              <input type="hidden" name="zuliefererConnectionId" value="<%= baum.zuliefererId%>">
                              <input type="hidden" name="warrengruppeId" value="<%= baum.id %>">

                              <button value="submit"> Import</button>
                            </form>
                          </td>
                          <td>
                            <form action="/delete-warrengruppe" method="post">
                              <input type="hidden" name="warrengruppeId" value="<%= baum.id %>">
                              <input type="hidden" name="warrengruppeName" value="<%= baum.name %>">
                              <button value="submit"> Delete</button>
                            </form>
                          </td>
                          <td>
                            <form action="/get-update-warrengruppe" method="post">
                              <input type="hidden" name="warrengruppeId" value="<%= baum.id %>">
                              <button value="submit"> Edit</button>
                            </form>
                          </td>
                        </tr>

                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>

            </div>
          </div>
        </div>




  </section>
</div>
