<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1> Single Tree View </h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">


      <mat-card class="loading" *ngIf="loadingSymbol">
        <mat-spinner></mat-spinner>
        <h1 style="margin-top: 11rem"> 🕑 Bitte warten Sie einige Sekunden. Der Baum wird geladen 🕑 </h1>
      </mat-card>

      <div class="row" *ngIf="!loadingSymbol">
        <div class="col">
          <!-- general form elements -->
          <div class="card card-primary">


            <div class="card-header">
              <h1 class="card-title"> {{injectedCatList[0].name}} </h1>
            </div>


            <!-- Inject Mioga Tree -->
            <app-tree
              [categoriesList]="injectedCatList[0].categories"
              [warengruppe]="injectedCatList[0]">
            </app-tree>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>
